<!-- Ppagina para ver todos los Blogs que han sido ingresados -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shueisha Blogs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/anime.png' %}" rel="icon">
  <link href="{% static 'assets/img/anime.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
    
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center">
  
        <a href="{% url 'main:home' %}" class="logo me-auto"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link" href="{% url 'main:home' %}">Home</a></li>
            <li><a class="nav-link" href="{% url 'main:blogs' %}">Blogs</a></li>
            <li><a class="nav-link" href="{% url 'main:reviews' %}">Reviews</a></li>
            <li class="dropdown"><a href="#"><span>Create</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="{% url 'main:newblog' %}">New Blog</a></li>
                <li><a href="{% url 'main:newreview' %}">New Review</a></li>
              </ul>
            </li>
            <li><a class="nav-link" href="{% url 'main:contact' %}">Contacto</a></li>
  
            {% if request.user.is_authenticated %}
  
            <li><a class="getstarted" href="{% url 'main:logout' %}">Logout</a></li>
  
            {% else %}
  
            <li><a class="getstarted" href="{% url 'main:login' %}">Login</a></li>
  
            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
  
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
  
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>Shueisha Blogs</h1>
            <h2>Un espacio para los que desean conocer más sobre un anime o un manga.</h2>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="{% static 'assets/img/blogheader.jpg' %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->
  
  
    <main id="main">
  
      <!-- ======= Blog Section ======= -->
      <section id="blog" class="page-section bg-light">

        <div class="container px-5 my-5" data-aos="fade-up">
            
            <div class="section-title">
                <h2><a href="{% url 'main:blogs' %}">Blogs</a></h2>
                <p>No importa cuán capacitado estés, tú solo no puedes cambiar el mundo. Pero eso es lo maravilloso del mundo. (L.)</p>
            </div>
            
            <div class="row gx-5">

            {% for obj in object_list %}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'main:blog' slug=obj.slug %}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <a href="{% url 'main:blog' slug=obj.slug %}"><img class="img-fluid" src="{{obj.image.url}}" alt="..." width="350" height="auto"/></a>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">
                                <a class="text-decoration-none link-dark" href="{% url 'main:blog' slug=obj.slug %}"><h5 class="fw-bolder mb-0">{{obj.title}}</h5></a>
                            </div>
                            <div class="portfolio-caption-subheading text-muted">{{obj.author}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
  
            </div>
  
        </div>
  
      </section><!-- End Blog Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
  
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Mordor Industries</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade & Samuel Lasso</a>
        </div>
  
      </div>
    </footer><!-- End Footer -->
  
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  
    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  
</body>

</html>
